version: '3'
services:
  composer:
    image: composer
    volumes:
      - .:/app
      - vendor:/app/vendor
  npm:
    build:
      context: .
      dockerfile: npm.Dockerfile
    volumes:
      - .:/app
      - node_modules:/app/node_modules
  app:
    build:
      context: .
      args:
        APP_ENV: $APP_ENV
    volumes:
      - .:/var/www/html
      - vendor:/var/www/html/vendor
      - node_modules:/var/www/html/node_modules
      - ./docker/php/conf.d/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
    environment:
      TZ: Asia/Tokyo
    depends_on:
      - db
      - redis
  web:
    image: nginx:1.15-alpine
    volumes:
      - ./docker/nginx/conf.d:/etc/nginx/conf.d
    environment:
      TZ: Asia/Tokyo
    ports:
      - '80:80'
    depends_on:
      - app
  db:
    image: mysql:5.7
    environment:
      MYSQL_DATABASE: $DB_DATABASE
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
      MYSQL_USER: $DB_USERNAME
      MYSQL_PASSWORD: $DB_PASSWORD
      TZ: Asia/Tokyo
    ports:
      - '3306:3306'
    command:
      - mysqld
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_bin
  redis:
    image: redis

volumes:
  vendor:
  node_modules:
